@*
	Мы создаем шаблон (layout) чтобы в нем хранить постоянные части страниц (например чердак и подвел)
	Обычно это шаблонное представление кладут в папку Shared и называют _layout.
	Каждая страница должна иметь возможность переписать содержимое. Есть 2 варианта:
	1) класс @ViewBag - класс которые передает информацию из контроллера в представление которая не относится к Модели
	(передавать информацию через модель @model, это верно, но вещи как заголовок, 
	footer, какая то служебная информация, которая отображается от страницы к странице, или которую 
	не надо отображать на одной и надо на другой странице, то есть то что и к layout не принадлежит можно через ViewBag)
	2) Отобразить целую секцию, чтогда надо что то крупное отобразить, например текст раздела "о себе" с помощью
	RenderBody

	Теперь если надо что-то поменять мы меняем прямо тут и на всех представлениях отобразится
*@
<html>
<head>
	<title>
		@ViewBag.Title
	</title>
	<style>
		header {
			padding: 20px;
			background: #eee;
		}

		footer {
			padding: 20px;
			background: #1ee;
		}
	</style>

</head>
<body>
	<header>

		ЧЕРДАК
		<a href="/">Home</a>
		<a href="/About/Index">About</a>
		<a href="/Home/LIST">LIST</a>
	</header>
	<div>
		@RenderBody()
	</div>
	<footer>
		ПОДВАЛ
		<p>Copyright Mr Green</p>
	</footer>

</body>
</html>

