@* Добавим layout, который будет в этом представлении отображать шаблонный чердак и подвал
 *@

@{
	ViewBag.Title = "А.С.Пушкин Осень";

	@*  Layout = "~/Views/Shared/_Layout.cshtml";
	убрали отдельный Layout, пото что задействован магический глобальный _ViewStart *@
}

<h1>А.С.Пушкин Осень</h1>
<p> Дни поздней осени бранят обыкновенно,</p>
<p>	Но мне она мила, читатель дорогой,</p>
<p>	Красою тихою, блистающей смиренно.</p>
<p>	Так нелюбимое дитя в семье родной</p>
<p>	К себе меня влечет. Сказать вам откровенно,</p>
<p>	Из годовых времен я рад лишь ей одной,</p>
<p>	В ней много доброго; любовник не тщеславный,</p>
<p> Я нечто в ней нашел мечтою своенравной.</p>